body {
    background-color: blanchedalmond;
}

table {
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: lightblue;
}

.footer {
    margin: 10px auto;
    text-align: center;
}