table {
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    text-align: center;
    width: 150px;
    height: 150px;
}

.footer {
    margin: 0 auto;
    text-align: center;
}
